@model RegistroCandidatos.Models.Candidato

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5 ">
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-header"><h5 class="text-verdeReservas">Confirma que quiere eliminar este candidato?</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <strong class="text-verdeReservas mb-0">@Html.DisplayNameFor(model => model.Nombres)</strong>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.Nombres)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <strong class="text-verdeReservas mb-0">@Html.DisplayNameFor(model => model.Apellidos)</strong>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.Apellidos)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <strong class="text-verdeReservas mb-0">@Html.DisplayNameFor(model => model.Cedula)</strong>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.Cedula)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <strong class="text-verdeReservas mb-0">@Html.DisplayNameFor(model => model.FechaDeNacimiento)</strong>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.FechaDeNacimiento)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <strong class="text-verdeReservas mb-0">@Html.DisplayNameFor(model => model.Genero)</strong>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.Genero)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <strong class="text-verdeReservas mb-0">@Html.DisplayNameFor(model => model.TrabajoActual)</strong>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.TrabajoActual)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <strong class="text-verdeReservas mb-0">@Html.DisplayNameFor(model => model.ExpectativaSalarial)</strong>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.ExpectativaSalarial)</p>
                    </div>
                </div>


            </div>
        </div>


    </div>




    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Candidato" />
        <a class="btn btn-verdeReservas col-md-2" asp-action="Index"><i class="fa-regular fa-circle-left me-2"></i>Volver</a>
        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash btn btn-danger" id="btnEliminar"></i>Borrar</button>
    </form>

</div>